<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Zumigo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Proxima-Nova-Bold.otf</string>
		<string>Proxima-Nova-Light.otf</string>
		<string>Proxima-Nova-Semibold.otf</string>
		<string>ProximaNova-Regular.otf</string>
		<string>junegull-Regular.otf</string>
		<string>Figtree-Bold.ttf</string>
		<string>Figtree-ExtraBold.ttf</string>
		<string>Figtree-Light.ttf</string>
		<string>Figtree-Medium.ttf</string>
		<string>Figtree-Regular.ttf</string>
		<string>Figtree-SemiBold.ttf</string>
		<string>Proxima-Nova-Medium.ttf</string>
		<string>Nunito-Black.otf</string>
		<string>Nunito-BlackItalic.otf</string>
		<string>Nunito-Bold.otf</string>
		<string>Nunito-BoldItalic.otf</string>
		<string>Nunito-ExtraBold.otf</string>
		<string>Nunito-ExtraBoldItalic.otf</string>
		<string>Nunito-ExtraLight.otf</string>
		<string>Nunito-ExtraLightItalic.otf</string>
		<string>Nunito-Italic.otf</string>
		<string>Nunito-Light.otf</string>
		<string>Nunito-LightItalic.otf</string>
		<string>Nunito-Medium.otf</string>
		<string>Nunito-MediumItalic.otf</string>
		<string>Nunito-Regular.otf</string>
		<string>Nunito-SemiBold.otf</string>
		<string>Nunito-SemiBoldItalic.otf</string>
		<string>Nunito-Variable.ttf</string>
		<string>Nunito-VariableItalic.ttf</string>
		<string>PTSans-Bold.ttf</string>
		<string>PTSans-BoldItalic.ttf</string>
		<string>PTSans-Italic.ttf</string>
		<string>PTSans-Regular.ttf</string>
		<string>Proxima-Nova-Alt-Regular.otf</string>
	</array>
</dict>
</plist>
